.App {
  text-align: center;
}
.heart-button{
  border:none;
  width: fit-content;
  background-color: #f7f7f7;
}
.item>div{
  padding: 1.2rem;
}
.item>div:hover{
  cursor:pointer;
  background-color: #d6dbe4;
}
.text{
  padding: 0.5rem;
}
.container{
  margin-top: 5%;
}
.card{
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}